html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
  --color-primary: #ec5600;
  --color-primary-dark: #db5000;
  --color-secondary: #4d592b;
  --color-secondary-dark: #414536;
  --color-secondary-light: #adb29e;
  --color-secondary-bright: #e2e4d9;
  --color-section-bg: #f5f5f1;
  --color-text: #172126;
  --color-footer-bg: #2c2f24;

  --radius: 12px;
}

h1,
h2{
 font-family: "Playfair Display", serif;
 font-style: normal;
}

h1{
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;
}

h2{
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 40px;
}

h3{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-secondary);
  text-align: center;
}

body{
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.4;
  color: var(--color-text);
}

section{
  max-width: 540px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* *section hlavicka* */
.container_header{
  padding: 50px 20px 50px 20px;
  text-align: center;
}

.logo_header img{
  height: 35px;
}

.menu{
  margin-top: 20px;
}

.nav__link{
  display: inline-block;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-secondary-dark);
  border-radius: 100vw;
}

.nav__link:hover,
.nav__link:focus {
  background: var(--color-secondary-bright);
}

/* *section banner* */
.container_banner{
  background: url(images/hero.jpg) no-repeat center/cover;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.banner__title {
  margin: 0;
}

.banner__description {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.125rem;
}

.button{
  display: inline-block;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 100vw;
}

.button:hover,
.button:focus{
  background: var(--color-primary-dark);
}

/* *section jidelni listek* */
.container_listek{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.container_listek h2{
  text-align: center;
}

.jidelni-listek{
  border: 1px solid var(--color-secondary-bright);
  border-radius: var(--radius);
  margin-bottom: 30px;
  padding: 30px 20px 30px 20px;
}

.ikona__img{
 display: block;
 margin: 0 auto;
 margin-bottom: 20px;
}

.description{
  text-align: center;
  margin-bottom: 20px;
}

.odkaz{
  color:var(--color-primary);
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.odkaz:hover,
.odkaz:focus{
  text-decoration: underline;
}

/* *section rozvoz* */
.container_rozvoz{
  background: var(--color-section-bg);
  padding: 40px 40px 40px 40px;
}

.rozvoz_img{
  width: 100%;
  border-radius: var(--radius);
}

.container_rozvoz h2{
  text-align: left;
  margin-left: 0;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-secondary-dark);
}

.container_rozvoz p{
  margin-top: 40px;
  margin-bottom: 40px;
}

.button_jidlo{
  display: inline-block;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 100vw;
}

.button_jidlo:hover,
.button_jidlo:focus{
  background: var(--color-primary-dark);
}

/* *section paticka* */
.container_paticka{
  padding: 40px 40px 20px 40px;
  background-color: var(--color-footer-bg);
  color:var(--color-secondary-light);
}

.logo_footer img{
  height: 40px;
}

.menu_footer{
  margin: 0;
  padding: 0;
}

.menu_footer li { 
  display: inline-block;
  margin-top: 20px;
}

.menu_footer a{
  color: var(--color-secondary-bright);
  padding-right: 20px;
}