html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
  --color-primary: #ec5600;
  --color-primary-dark: #db5000;
  --color-secondary: #4d592b;
  --color-secondary-dark: #414536;
  --color-secondary-light: #adb29e;
  --color-secondary-bright: #e2e4d9;
  --color-section-bg: #f5f5f1;
  --color-text: #172126;
  --color-footer-bg: #2c2f24;

  --radius: 12px;
}

h1,
h2{
 font-family: "Playfair Display", serif;
 font-style: normal;
}

h1{
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;
}

h2{
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 40px;
}

h3{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-secondary);
  text-align: center;
}

body{
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.4;
  color: var(--color-text);
}